<p>list-payment-method works!</p>
<h3>Filtros</h3>
  <div class="filtros-container">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del método de pago</mat-label>
      <input matInput [(ngModel)]="nombreMetodoPago" placeholder="Ej. Nequi" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="aplicarFiltros()">Buscar</button>
  </div>

<mat-card>
    <mat-card-header>
      <mat-card-title>Métodos de Pago</mat-card-title>
      <button mat-raised-button color="primary" (click)="openFormCreate()">Agregar metodoPago</button>
    </mat-card-header>
  
    <mat-table [dataSource]="(filteredmetodosPago.length ? filteredmetodosPago : metodosPago)" class="mat-elevation-z8">
      <ng-container matColumnDef="idPaymentMethod">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let metodoPago">{{metodoPago.idPaymentMethod}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="namePaymentMethod">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let metodoPago">{{metodoPago.namePaymentMethod}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nameMunicipality">
        <mat-header-cell *matHeaderCellDef>Municipio</mat-header-cell>
        <mat-cell *matCellDef="let metodoPago">{{metodoPago.nameMunicipality}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let metodoPago">
          <button mat-icon-button (click)="editmetodosPago(metodoPagoSeleccionado = metodoPago)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletemetodosPago(metodoPago)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  