mat-card {
    background-color: #efefff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  button.mat-raised-button {
    background-color: #765dfb;
    color: white;
  }
  
  mat-header-row {
    background-color: #bcbef3;
  }
  
  mat-cell, mat-header-cell {
    font-size: 14px;
  }
  
  button.mat-icon-button {
    background-color: #d5d7f9;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  button.mat-icon-button:hover {
    background-color: #a2a6ec;
  }
  
  mat-header-cell {
    color: #5945f9;
  }
  