<p>list-person works!</p>
<h3>Filtros</h3>
  <div class="filtros-container">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del cargo</mat-label>
      <input matInput [(ngModel)]="nombrePersona" placeholder="Ej. Corte de cabello" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="aplicarFiltros()">Buscar</button>
  </div>

<mat-card>
    <mat-card-header>
      <mat-card-title>Personas</mat-card-title>
      <button mat-raised-button color="primary" (click)="openForm()">Agregar Persona</button>
    </mat-card-header>
  
    <mat-table [dataSource]="(filteredpersonas.length ? filteredpersonas : personas)" class="mat-elevation-z8">
      <ng-container matColumnDef="idPosition">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let cargo">{{cargo.idPosition}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="namePosition">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let cargo">{{cargo.namePosition}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let cargo">
          <button mat-icon-button (click)="editCargo(personaSeleccionada = cargo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCargo(cargo)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  