.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
    background: #efefff;
    box-shadow: 0 0 20px #888de6;

    border-radius: 2vh;
  }
  
  .full-width {
    width: 100%;
  }
  .inline-fields {
    display: flex;
    gap: 16px;
    width: 100%;
  }
  
  .half-width {
    flex: 1;
  }
  
  .full-width {
    width: 100%;
  }
  